<div class="page-header">
	<h3><%= pid %> <%= title %><small></small></h3>
</div>

<%= desc %>


<h4>Input</h4>
	<%= input %>

<h4>Output</h4>
	<%= output %>

<h4>Sample Input</h4>
	<%= sample_in %>

<h4>Sample Output</h4>
	<%= sample_out %>

<h4>Hint</h4>
hint here...

<center>
	<a href="/ProbSubmit?pid=<%= pid %>"><button type="button" class="btn btn-default">Submit</button></a>
	<a href="#"><button type="button" class="btn btn-default">Status</button></a>
	<a href="#"><button type="button" class="btn btn-default">Statistics</button></a>
</center>
