<div class="container" id="page-content">
	<div class="row-fluid">
		<div class="span12">
			<div id="showProblem">
				<h2 style="text-align:center"><%= title %></h2>
				<div id="conditions" class="well tcenter">
					<div class="span6">Time Limit:</div>	
					<div class="span6">Memory Limit:</div>	
				</div>
				 <div class="content-wrapper well">
					 <%- desc %>
				 </div>
				 <h3> Input </h3>
				 <div class="content-wrapper well">
					 <%- input %>
					 <div style="clear:both"></div>
				 </div>
				 <h3> Output </h3>
				 <div class="content-wrapper well">
					 <%- output %>
					 <div style="clear:both"></div>
				 </div>
				 <h3> Sample Input </h3>
				 <pre class="content-wrapper"><%- sample_in %></pre>
				 <h3> Sample Output </h3>
				 <pre class="content-wrapper"><%- sample_out %></pre>
			</div>
		</div>
	</div>
</div>
<center>
	<a href="/ProbSubmit?pid=<%= pid %>"><button type="button" class="btn btn-default">Submit</button></a>
	<a href="#"><button type="button" class="btn btn-default">Status</button></a>
	<a href="#"><button type="button" class="btn btn-default">Statistics</button></a>
</center>
