<link href="/stylesheets/status.css" rel="stylesheet">
<table id="Status" class="table table-striped table-centered">
	<thead>
		<tr>
			<th class="header-runid">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">Run ID</a></div>
			</th>
			<th class="header-sub_time">
				<div id="searchTitleBtn" class="" order='asc'><a href="#">Submit Time</a></div>
			</th>
			<th class="header-result">
				<div id="titleBtn" class="" order='asc'><a href="#">Result</a></div>
			</th>
			<th class="header-pid">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">PID</a></div>
			</th>
			<th class="header-time">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">Time</a></div>
			</th>
			<th class="header-memory">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">Memory</a></div>
			</th>
			<th class="header-codelen">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">Code Len</a></div>
			</th>
			<th class="header-lang">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">Language</a></div>
			</th>
			<th class="header-user">
				<div id="searchAcrateBtn" class="" order='asc'><a href="#">User</a></div>
			</th>
		</tr>
	</thead>
	<tbody>
		<% fstats.forEach(function(stat, index) { %>
		<tr>
			<td><%= stat.run_ID %></td>
			<td><%= stat.submit_time%></td>
			<td><%= stat.result %></td>
			<td><a href=/ShowProblems?pid=<%=stat.pid %> > <%= stat.pid %></a></td>
			<td><%= stat.time_used%></td>
			<td><%= stat.mem_used%></td>
			<td><%= stat.code_len %></td>
			<td><%= stat.lang %></td>
			<td><%= stat.username %></td>
		</tr>
		<% }) %>
	</tbody>
</table>
